.heroSection {
  width: 100%;
  min-height: 80vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--bg-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.heroTitle {
  font-size: 72px;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
  padding-bottom: 80px;
}

.heroContent {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  margin-left: 7%;
}

.leftText {
  flex: 1;
  text-align: right;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

.divider {
  width: 2px;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  flex-shrink: 0;
}

.date {
  flex: 1;
  text-align: left;
}

.monthYear {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 8px 0;
}

.dayInfo {
  font-size: 24px;
  opacity: 0.9;
  margin: 0;
}
