.heroSection {
  width: 100%;
  min-height: 80vh;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../../assets/img/hero/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff; 
}

.heroTitle {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  color: aliceblue;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding-bottom: 80px;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 800px;
  align-items: center;
}

.heroContent p {
  font-size: 18px;
  line-height: 1.4;
  max-width: 300px;
  text-align: right; 
  margin-bottom: 80px;
}

.divider {
  width: 2px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.6);
}

.date {
  text-align: left;}

.monthYear {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px !important;
}

.dayInfo {
  font-size: 18px;
  opacity: 0.9;
}

.dayInfo sup {
  font-size: 12px;
}

.SearchBarSeaction {
  display: flex;
  justify-content: center;
  align-items: center;

}