.chartMainWrapper {
  height: 350px;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  box-sizing: border-box; /* Важливо! */
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .chartMainWrapper {
    height: 250px; 
    padding: 10px; 
    border-radius: 15px;
  }
}

@media (max-width: 480px) {
  .chartMainWrapper {
    height: 200px;
    padding: 5px;
  }
}

.noData {
  text-align: center;
  padding: 20px;
  color: #666;
}