.headerContainer {
  width: 100%;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
}

.logoWrp {
  display: flex;
  align-items: center;
}

.menuList {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menuLink {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #4b5563;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.menuLink:hover {
  color: #f26522;
  border-bottom: 2px solid #f26522;
}

.SignIn {
  background: #ffb422;
  border-radius: 12px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.authSection {
  display: flex;
  align-items: center;
  gap: 24px;
}
