.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.nav {
  padding-left: 0; 
}

.menuList {
  display: flex;
  list-style: none;
  gap: 0px;
}

.menuLink {
  text-decoration: none;
  color: var(--text); 
}

.SignIn {
  background: #ffb422;
  border-radius: 12px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}