@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MontserratAlternates';
  src: url('./assets/fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('./assets/fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'MontserratAlternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, textarea, select {
  font-family: inherit;
}